h1 {
  text-align: center;
}

li {
  list-style: none;
}

.first {
  background-color: rgb(235, 200, 84);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 200px;
  margin-left: 200px;
}

.second {
  background-color: rgb(219, 219, 219);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
  position: relative;
  right: 2px;
}

.third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
    position: relative;
    left: 302px;
    top: -50px;
}

.main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 680px;
}

.award {
    position: relative;
    top: -40px;
    text-align: center;
}

.award ul > li{
    display: inline;
}
