body{
    font-size: 16px;
    font-style: monospace;
    text-align: center;
}
h1{
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}
.background{
    background-color: rgb(236, 112, 54);
}
p{
    font-size: 3em;
    color: rgba(235, 235, 235, 0.911);
    font-style: italic;
}
ul{
    text-decoration: underline;
    line-height: 30px;
}
#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}
#brow{
    background-color: rgb(119, 43, 43);
}